  <!--FOOTER-->
  <div class="footer">
    <div class="container">
      <div class="row footer-box">
        
        <div class="col-12 col-md-4 footer-i f1">
          <h5>Contact</h5>
          <label>Sector: 4 Jinnah Avenue, F 8/4 F-8</label><br>
          <label>City: Islamabad</label><br>
          <label>Country: Pakistan</label><br>
          <label>Zip Code: 44220</label><br>
          <label>Phone: 051-3719183</label><br>
        </div>
        
        <div class="col-12 col-md-4 footer-i f2">
          <h5>Services</h5>
          <label><a href="#">Ordering & Payment</a></label><br>
          <label><a href="#">Customer Review</a></label><br>
          <label><a href="#">Return/Cancellation</a></label><br>
          <label><a href="#">Frequently Asked Questions</a></label><br>
          <label><a href="#">Terms and Conditions</a></label><br>
        </div>
        
        <div class="col-12 col-md-4 footer-i f3">
          <h5>Bazeena Clothing</h5>
          <label>Elevate your wardrobe with Bazeena Clothing, where every stitch tells a story of elegance and individuality. Discover your signature style today</label><br>
          
          <form id="newsletterForm" class="d-flex mt-3">
            <input type="email" id="newsletterEmail" class="form-control me-2" placeholder="Email Address" required>
            <button type="submit" id="emailButton" class="btn btn-outline-light">
              <i class="fa-solid fa-share"></i>
            </button>
            
          </form>
          <div id="emailError" style="color:red; margin-top:5px; font-size: 14px;"></div>
          
          <div class="social-media mt-3">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="footer-copyright">
      &copy; 2024 Bazeena - All rights reserved
    </div>
  </div> 
</div>

