@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet');
/*for Ysabeau Office font  (import or link)*/

body {
    font-family: "Ysabeau Office", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    background: hsl(0, 0%, 100%);
}

/* GLOBAL */

body {
    font-family: "Ysabeau Office", sans-serif;
    font-weight: 550;
    background: hsl(0, 0%, 100%);
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0 0 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.btn-outline-success {
    --bs-btn-color: white;
    background: rgba(0, 0, 0, 0.377);
    --bs-btn-border-color: rgba(255, 255, 255, 0.24);
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.664);
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
}

.btn {
    margin-left: -10px;
}


/* *INTERFACE*/

.content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
    background-image: url("images/main-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.about h1{
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
    background: hsl(0, 0%, 100%);
    text-align: center;
}

.about{
    line-height: 1.5;
    color: #666;
    font-size: 20px;
    color: #333;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    margin-top: 30px;
}

/*SERVICES*/

.container h1{
    padding-top: 50px;
}

.container h5{
    padding: 10px;
    font-weight: 400;
}

.container label{
    color: #3b3b3b;
    font-weight: 300;
    font-size: 15px;
}

.our-services-box .our-services-item .our-services-icon{
    font-size: 35px;
    color: rgb(22, 22, 22);
    transition: all .4s ease-in-out;
    margin-top: 27px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {

    .content {
        background-attachment: fixed;
      }

      .about {
        padding-left: 50px;
        padding-right: 50px;
      }

    }
